.alert {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 2px solid #333;
  margin: 0 0.5rem;
  padding: 0.5rem;
}

.alert p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin: 0;
}

.error {
  background: #fff2f0;
  border-color: #ffccc7;
}

.warning {
  background: #fffbe6;
  border-color: #ffe58f;
}

.info{
  background: #e6f7ff;
  border-color: #91d5ff;
}

.error circle, .error path{
  color: #ff4d4f;
}

.warning circle, .warning path{
  color: #faad14;
}

.info circle, .info path{
  color: #1890ff;
}

.toast{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
}

.close{
  position: absolute;
  top: 5px;
  right: 5px;
}